@font-face {
  font-family: "Vazir";
  src: url("../fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot");
  src: url("../fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2") format("woff2"), url("../fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff") format("woff"), url("../fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf") format("truetype"); }
@font-face {
  font-family: "Vazir";
  font-weight: bold;
  src: url("../fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot");
  src: url("../fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2") format("woff2"), url("../fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff") format("woff"), url("../fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf") format("truetype"); }
html, body {
  direction: rtl;
  text-align: right;
  font-family: "Vazir", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

.custom-container {
  width: 92%;
  margin: 0 auto;
  padding: 0; }

.row {
  margin-left: 0;
  margin-right: 0; }

.panel {
  padding-top: 110px; }

.user-panel {
  padding-top: 110px;
  padding-right: 240px;
  min-height: 100vh; }
  .user-panel .cover {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%; }
    .user-panel .cover.off {
      background-color: rgba(0, 0, 0, 0);
      z-index: -9999; }
    .user-panel .cover.on {
      background-color: rgba(0, 0, 0, 0.2);
      z-index: 998; }

.btn-travel {
  background-color: #E42119;
  color: #fff;
  padding: 10px 16px; }
  .btn-travel:hover {
    color: #fff; }

.navbar.scrolling-navbar.top-nav-collapse {
  background-color: black; }

.custom-navbar {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 12px 16px;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 80px;
  transition: background-color .1s;
  z-index: 1200; }
  .custom-navbar.full-black {
    background-color: black !important; }
  .custom-navbar.user-navbar {
    padding-right: 256px; }
    .custom-navbar.user-navbar .sideNav-trigger {
      color: #fff;
      margin-left: 30px;
      margin-right: 15px;
      margin-top: 5px;
      font-size: 24px;
      cursor: pointer;
      display: none; }
    .custom-navbar.user-navbar .contact-icons .icon-container {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 20px;
      color: white; }
      .custom-navbar.user-navbar .contact-icons .icon-container span {
        font-size: 16px; }
  .custom-navbar .navbar-brand {
    padding: 5px 0;
    margin-right: 0;
    margin-left: 16px; }
  .custom-navbar .navbar-collapse .navbar-nav {
    margin-left: auto;
    font-size: 16px;
    padding-right: 0;
    padding-left: 40px; }
    .custom-navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item {
      padding: 8px;
      direction: rtl;
      text-align: right;
      font-size: 16px; }
      .custom-navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: rgba(0, 0, 0, 0.3) !important; }
  .custom-navbar .navbar-collapse .contact-icons .icon-container {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: white; }
    .custom-navbar .navbar-collapse .contact-icons .icon-container span {
      font-size: 16px; }

.sideNav {
  width: 240px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #ececec;
  z-index: 2000;
  -webkit-box-shadow: 0px 0px 1px 1px #c4c2c4;
  -moz-box-shadow: 0px 0px 1px 1px #c4c2c4;
  box-shadow: 0px 0px 1px 1px #c4c2c4;
  transition: all .3s; }
  .sideNav .profile {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
    .sideNav .profile .image-container {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      margin-bottom: 20px; }
      .sideNav .profile .image-container img {
        width: 100%;
        height: 100%;
        box-sizing: border-box; }
    .sideNav .profile .name {
      margin-bottom: 10px; }
    .sideNav .profile .phone {
      background-color: #ba1a1d;
      color: white;
      border-radius: 4px;
      padding: 3px; }
  .sideNav .sideNav-list {
    padding: 20px 0; }
    .sideNav .sideNav-list .sideNav-item {
      padding: 5px 30px 5px 20px; }
      .sideNav .sideNav-list .sideNav-item:hover a {
        color: #ba1a1d; }
      .sideNav .sideNav-list .sideNav-item a {
        color: #0d0d0d; }
      .sideNav .sideNav-list .sideNav-item.active {
        background-color: #dbdbdb;
        border-right: 3px solid #ba1a1d; }
        .sideNav .sideNav-list .sideNav-item.active a {
          color: #ba1a1d; }

.cover {
  width: 100%;
  height: 600px;
  position: relative; }
  .cover .cover-image-container {
    width: 100%;
    height: 100%;
    position: relative; }
    .cover .cover-image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .cover .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2); }
  .cover .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; }
    .cover .text .title {
      font-size: 38px;
      margin-bottom: 20px;
      font-weight: bold; }
    .cover .text .smaller {
      font-size: 20px; }

.intro .row {
  margin-bottom: 30px; }
  .intro .row .intro-image {
    height: 500px;
    overflow: hidden;
    padding: 0 !important; }
    .intro .row .intro-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .intro .row .intro-text {
    background-color: rgba(116, 115, 115, 0.2);
    position: relative; }
    .intro .row .intro-text .text-container {
      width: 60%;
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%); }
      .intro .row .intro-text .text-container .title {
        padding-top: 30px;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold; }
      .intro .row .intro-text .text-container .body {
        font-size: 16px;
        text-align: justify; }

.features {
  background-color: rgba(116, 115, 115, 0.2);
  margin-bottom: 50px;
  padding-top: 50px; }
  .features .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative; }
    .features .title:before {
      content: "";
      width: 200px;
      height: 2px;
      background: white;
      background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
      position: absolute;
      left: calc(50% - 290px);
      top: 16px; }
    .features .title:after {
      content: "";
      width: 200px;
      height: 2px;
      background: white;
      background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
      position: absolute;
      left: calc(50% + 90px);
      top: 16px; }
  .features .feature {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 8px;
    padding-right: 8px; }
    .features .feature .icon-container {
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-bottom: 10px;
      display: inline-block; }
      .features .feature .icon-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .features .feature .f-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px; }
    .features .feature .f-description {
      font-size: 14px; }

.offers {
  margin-bottom: 50px; }
  .offers .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative; }
    .offers .title:before {
      content: "";
      width: 200px;
      height: 2px;
      background: white;
      background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
      position: absolute;
      left: calc(50% - 290px);
      top: 16px; }
    .offers .title:after {
      content: "";
      width: 200px;
      height: 2px;
      background: white;
      background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
      position: absolute;
      left: calc(50% + 90px);
      top: 16px; }
  .offers .offer-container {
    padding: 0 8px;
    margin-bottom: 30px; }
    .offers .offer-container .offer {
      width: 100%; }
      .offers .offer-container .offer .image-container {
        width: 100%;
        height: 410px;
        overflow: hidden; }
        .offers .offer-container .offer .image-container img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .offers .offer-container .offer .offer-links {
        width: 100%; }
        .offers .offer-container .offer .offer-links.color-1 {
          background-color: #ba1a1d; }
          .offers .offer-container .offer .offer-links.color-1 .offer-link:before {
            background-color: #9b1313; }
        .offers .offer-container .offer .offer-links.color-2 {
          background-color: #0ba8e0; }
          .offers .offer-container .offer .offer-links.color-2 .offer-link:before {
            background-color: #0b93c8; }
        .offers .offer-container .offer .offer-links.color-3 {
          background-color: #263374; }
          .offers .offer-container .offer .offer-links.color-3 .offer-link:before {
            background-color: #3f4fc0; }
        .offers .offer-container .offer .offer-links .offer-link {
          padding: 20px;
          display: block;
          width: 100%;
          position: relative;
          z-index: 500; }
          .offers .offer-container .offer .offer-links .offer-link:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 100%;
            z-index: 10;
            transition: all .3s; }
          .offers .offer-container .offer .offer-links .offer-link:hover:before {
            width: 100%; }
          .offers .offer-container .offer .offer-links .offer-link.offer-link-1 {
            border-bottom: 2px solid #ffffff; }
          .offers .offer-container .offer .offer-links .offer-link .column {
            text-align: center;
            width: 49%;
            z-index: 900; }
            .offers .offer-container .offer .offer-links .offer-link .column .offer-title {
              font-size: 16px;
              font-weight: 400;
              color: #fff;
              margin-bottom: 10px;
              z-index: 1000;
              width: 110%;
              max-height: 48px;
              overflow: hidden; }
            .offers .offer-container .offer .offer-links .offer-link .column .price {
              color: #fff;
              font-size: 14px;
              margin-bottom: 10px;
              z-index: 1000; }
            .offers .offer-container .offer .offer-links .offer-link .column .stars {
              font-size: 12px;
              color: #fff;
              z-index: 1000; }
            .offers .offer-container .offer .offer-links .offer-link .column .city {
              font-size: 20px;
              color: #fff;
              font-weight: bold;
              margin-bottom: 10px;
              z-index: 1000; }
            .offers .offer-container .offer .offer-links .offer-link .column .country {
              color: #fff;
              font-size: 14px;
              margin-bottom: 13px;
              z-index: 1000; }
            .offers .offer-container .offer .offer-links .offer-link .column .logos {
              color: #fff;
              font-size: 16px;
              z-index: 1000; }

.contact-us {
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .contact-us .title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative; }
    .contact-us .title:before {
      content: "";
      width: 200px;
      height: 2px;
      background: white;
      background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
      position: absolute;
      left: calc(50% - 290px);
      top: 16px; }
    .contact-us .title:after {
      content: "";
      width: 200px;
      height: 2px;
      background: white;
      background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
      position: absolute;
      left: calc(50% + 90px);
      top: 16px; }
  .contact-us .cat {
    padding: 0;
    margin-bottom: 30px; }
    .contact-us .cat .logo-container {
      font-size: 26px;
      color: #E42119;
      text-align: left; }
    .contact-us .cat .cat-title {
      text-align: right;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      padding-right: 10px; }
    .contact-us .cat .info {
      color: #E42119;
      display: block;
      padding-right: 10px; }
    .contact-us .cat .logo {
      text-align: center;
      font-size: 50px; }
    .contact-us .cat .text {
      text-align: center;
      font-size: 14px; }
      .contact-us .cat .text .email-address {
        direction: ltr;
        font-size: 20px; }
      .contact-us .cat .text .address {
        margin-bottom: 10px; }
      .contact-us .cat .text .s-media a {
        direction: ltr;
        text-decoration: none; }

.post {
  height: 520px; }
  .post .image-container {
    width: 100%;
    height: 100%; }
    .post .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .post .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px; }
  .post .body {
    font-size: 14px;
    margin-bottom: 30px; }

.blogs {
  margin-bottom: 50px; }
  .blogs .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center; }
  .blogs .tour {
    padding: 0 8px;
    margin-bottom: 16px; }
    .blogs .tour.col-lg-4 .tile {
      height: 232px; }
    .blogs .tour.col-lg-6 .tile {
      height: 352px; }
    .blogs .tour .tile {
      display: block;
      position: relative; }
      .blogs .tour .tile .image-container {
        position: relative;
        width: 100%;
        height: 100%; }
        .blogs .tour .tile .image-container img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .blogs .tour .tile .mask {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.1); }
      .blogs .tour .tile span {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 24px; }

.bp-tours .title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 50px;
  font-weight: bold;
  position: relative; }
  .bp-tours .title:before {
    content: "";
    width: 200px;
    height: 2px;
    background: white;
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
    position: absolute;
    left: calc(50% - 290px);
    top: 16px; }
  .bp-tours .title:after {
    content: "";
    width: 200px;
    height: 2px;
    background: white;
    background: -moz-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
    background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #212529 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#212529",GradientType=1);
    position: absolute;
    left: calc(50% + 90px);
    top: 16px; }
.bp-tours .offer-container {
  padding: 0 8px;
  margin-bottom: 30px; }
  .bp-tours .offer-container .offer {
    width: 100%; }
    .bp-tours .offer-container .offer .image-container {
      width: 100%;
      height: 410px;
      overflow: hidden; }
      .bp-tours .offer-container .offer .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .bp-tours .offer-container .offer .offer-links {
      width: 100%;
      border: 1px solid #ececec; }
      .bp-tours .offer-container .offer .offer-links .offer-link {
        padding: 20px;
        display: block;
        width: 100%;
        position: relative;
        z-index: 500; }
        .bp-tours .offer-container .offer .offer-links .offer-link:before {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 0;
          height: 100%;
          z-index: 10;
          transition: all .3s;
          background-color: #ececec; }
        .bp-tours .offer-container .offer .offer-links .offer-link:hover:before {
          width: 100%; }
        .bp-tours .offer-container .offer .offer-links .offer-link.offer-link-1 {
          border-bottom: 2px solid #000; }
        .bp-tours .offer-container .offer .offer-links .offer-link .column {
          text-align: center;
          width: 49%;
          z-index: 900; }
          .bp-tours .offer-container .offer .offer-links .offer-link .column .offer-title {
            font-size: 16px;
            font-weight: 400;
            color: #000;
            margin-bottom: 10px;
            z-index: 1000;
            width: 110%;
            max-height: 48px;
            overflow: hidden; }
          .bp-tours .offer-container .offer .offer-links .offer-link .column .price {
            color: #000;
            font-size: 14px;
            margin-bottom: 10px;
            z-index: 1000; }
          .bp-tours .offer-container .offer .offer-links .offer-link .column .stars {
            font-size: 12px;
            color: #000;
            z-index: 1000; }
          .bp-tours .offer-container .offer .offer-links .offer-link .column .city {
            font-size: 20px;
            color: #000;
            font-weight: bold;
            margin-bottom: 10px;
            z-index: 1000; }
          .bp-tours .offer-container .offer .offer-links .offer-link .column .country {
            color: #000;
            font-size: 14px;
            margin-bottom: 13px;
            z-index: 1000; }
          .bp-tours .offer-container .offer .offer-links .offer-link .column .logos {
            color: #000;
            font-size: 16px;
            z-index: 1000; }

.tour-specs {
  border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 40px 20px;
  text-align: center;
  position: fixed;
  top: 110px;
  width: 29%;
  display: inline-block; }
  .tour-specs.relative {
    position: relative;
    width: 100%;
    top: 785px; }
  .tour-specs .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #45484a; }
  .tour-specs .destination, .tour-specs .price {
    font-size: 16px;
    margin-bottom: 10px; }
  .tour-specs .date {
    color: #747373;
    font-size: 16px;
    margin-bottom: 40px; }
  .tour-specs .stars {
    margin-bottom: 40px;
    color: #E8A63A; }
  .tour-specs .tour-text {
    color: #747373;
    font-size: 16px;
    margin-bottom: 10px; }

.big-image-container {
  height: 480px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 25px; }
  .big-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.highlights {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 25px; }
  .highlights .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .highlights .highlight {
    margin-bottom: 10px; }
    .highlights .highlight .logo-container {
      display: inline-block;
      font-size: 24px;
      margin-left: 10px; }
    .highlights .highlight .text {
      display: inline-block;
      font-size: 18px;
      margin-bottom: 10px;
      transform: translateY(-5px); }

.mobile-tour-specs {
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 25px;
  display: none;
  text-align: center; }
  .mobile-tour-specs .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #45484a; }
  .mobile-tour-specs .destination, .mobile-tour-specs .price {
    font-size: 16px;
    margin-bottom: 10px; }
  .mobile-tour-specs .date {
    color: #747373;
    font-size: 16px;
    margin-bottom: 40px; }
  .mobile-tour-specs .stars {
    margin-bottom: 40px;
    color: #E8A63A; }
  .mobile-tour-specs .tour-text {
    color: #747373;
    font-size: 16px;
    margin-bottom: 10px; }

.special-note, .more-details {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 25px; }
  .special-note .title, .more-details .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px; }
  .special-note .text, .more-details .text {
    font-size: 16px;
    margin-bottom: 10px; }

.modal-header {
  padding: 8px; }
  .modal-header h5 {
    line-height: 50px;
    font-size: 20px;
    margin-right: 16px; }
  .modal-header .close {
    margin: 10px auto 0 10px;
    float: left;
    padding: 0;
    line-height: unset; }
    .modal-header .close span {
      font-size: 26px; }

.modal-body {
  padding: 16px; }
  .modal-body .login-form {
    display: none; }
    .modal-body .login-form.show {
      display: block; }
    .modal-body .login-form .image-container {
      height: 135px;
      padding-bottom: 16px; }
      .modal-body .login-form .image-container img {
        height: 100%;
        object-fit: cover; }

.modal-dialog {
  margin: 112px auto; }

.md-form.md-outline {
  margin: 0;
  min-height: 70px; }
  .md-form.md-outline .form-control {
    padding: 6px 12px;
    margin: 0; }

.md-form.md-outline label {
  font-size: 16px;
  right: 0;
  padding-left: 0;
  padding-right: 10px;
  display: inline-block; }
  .md-form.md-outline label.active {
    left: unset;
    right: 8px;
    color: #000000;
    transform: translateY(-14px) scale(0.8); }

.md-form label, .md-form.md-outline label {
  transform-origin: 100% 100%; }

.md-form.md-outline input[type="text"]:focus:not([readonly]) {
  border-color: #000000;
  box-shadow: inset 0 0 0 1px #000000; }

@media (max-width: 992px) {
  .custom-container {
    width: 100%;
    margin: 0;
    padding: 0; }

  .custom-navbar {
    min-height: 60px; }

  .panel {
    padding-top: 90px; }

  .user-navbar .navbar-brand {
    margin-left: auto; }
  .user-navbar .contact-icons #phone {
    display: none; }

  .intro .row .intro-text {
    height: 400px; }

  .cover .text {
    width: 90%; }
    .cover .text .title {
      font-size: 30px; }
    .cover .text .smaller {
      font-size: 18px; }

  .tour-specs {
    display: none; }

  .mobile-tour-specs {
    display: block; }

  .big-image-container {
    height: 240px; } }
.md-form {
  margin-top: 0;
  margin-bottom: 0; }

.panel-section {
  border: 1px solid #ececec;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 1px #cfcfcf;
  -moz-box-shadow: 0px 0px 5px 1px #cfcfcf;
  box-shadow: 0px 0px 5px 1px #cfcfcf;
  text-align: center; }
  .panel-section .title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px; }

.upload-section {
  margin-bottom: 20px; }
  .upload-section #upload .image-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px; }
    .upload-section #upload .image-container .no-upload {
      width: 100%;
      height: 100%;
      border: 2px dashed #c4c4c4;
      color: #c4c4c4;
      text-align: center;
      position: relative; }
      .upload-section #upload .image-container .no-upload .center {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); }
        .upload-section #upload .image-container .no-upload .center div {
          font-size: 75px; }
    .upload-section #upload .image-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.visa {
  margin-bottom: 20px; }
  .visa.no-upload {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px; }
    .visa.no-upload .visa-cost {
      padding: 10px;
      font-size: 18px; }
      .visa.no-upload .visa-cost.no-image {
        filter: blur(4px);
        position: absolute;
        left: 50%;
        transform: translateX(-50%); }
    .visa.no-upload .image-warning {
      background: black;
      background: -moz-radial-gradient(circle, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 75%);
      background: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 75%);
      background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0) 75%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
      display: inline-block;
      padding: 10px 20px;
      border-radius: 3px; }
  .visa .visa-cost {
    font-size: 18px; }
    .visa .visa-cost.has-image {
      margin-bottom: 20px; }
  .visa .image-warning {
    display: none; }

.custom-thead {
  background-color: #0d0d0d;
  color: #fff; }

@media (max-width: 1200px) {
  .user-panel {
    padding-right: 0; }

  .user-navbar {
    padding-right: 16px !important; }
    .user-navbar .sideNav-trigger {
      display: inline-block !important; }

  .sideNav {
    right: -240px; } }

/*# sourceMappingURL=style_fa.css.map */
